li{
  list-style-type: none;
}
body{
  overflow-x: hidden;
}
.container{
  width: 1920px;
  margin: 0 auto;
}
.logo-container{
  margin: 27px 0 26px 260px;
}
.nav{
  display: flex;
  background-color: #FFFFFF;
  margin: 0;
}
.left{
  display: flex;
}
.navigation{
  display: flex;
  margin: 0;
  margin: 53px 0 52px 60px;
  padding: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.navigation-item{
  margin-right: 45px;
  width: fit-content;
}
.search_icon-container{
  width: fit-content;
  margin-left: 5px;
}
.right{
  width: fit-content;
  margin-left: auto;
  margin-top: 37px;
  /* margin-bottom: 37px; */
}
.nav-icons{
  display: flex;
  margin: 0;
  margin-right: 260px;
  padding: 0;
}
.nav-icon-item{
  width: 49px;
  height: 49px;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-right: 30px;
}

.section_one{
  background-color: #F2F2F2;
  width: 1920px;
  margin: 0 auto;
  position: relative;
  height: 683px;
}
.left-content{
  width: 1411px;
  display: flex;
}
.dell{
  width: fit-content;
  padding-left: 260px;
  padding-top: 97px;
  z-index: 10;
  content: url('./accepts/icons/Dell.svg');
}
.union{
  transform: rotate(90deg);
  margin-right: 17px;
}
.catalog{
  display: flex;
  transform: rotate(-90deg);
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 415px;
  left: 195px;
}
.scroll{ 
  color: #838383;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.products{
  z-index: 100000;
  padding-left: 390px;
  margin-top: -40px;
}
.new{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 133.687%;
  z-index: 100000;
}
.best-product{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.more{
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.arrow{
  margin-top: 22px;
}
.circle{
  width: 55px;
  height: 55px;
  background-color: #33A9FF;
  border-radius: 50%;
  text-align: center;
  margin-right: 12px;
}
.more-text{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.newPhoto{
  margin-top: 74px;
  margin-left: -235px;
  /* border: 1px solid red; */
}
.img{
  position: relative;
}
.slider-btns{
  display: flex;
  position: absolute;
  bottom: 117px;
  right: -22px;
}
.slider-btn{
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #D0D0D0;
  margin-left: 6px;
  cursor: pointer;
}
.slider-btn-active{
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: #292D32;
  margin-left: 6px;
  cursor: pointer;
}
.section_one-content{
  display: flex;
}
.right-content{
  justify-content: right;
  text-align: right;
  position: relative;
}
.long-arrow{
  display: block;
  margin-left: 40px;
}
.benefit{
  position: absolute;
  left: 40px;
  top: 321px;
  color: #292D32;
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}