@font-face {
  font-family: "Euclid Circular";
  src: url("/accepts/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Light.ttf");
}



:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  color: var(--dark-grey);
  position: relative;
  overflow-x: hidden;
}
header{
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.burger{
  width: 46px;
  height: 46px;
  background-color: #F9F9F9;
  border-radius: 50%;
}
.line{
  display: block;
  margin: 5px auto;
  background-color: #000;
}
.logo {
  margin-right: 60px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 123px;
  /* border: 1px solid red; */
  padding: 0;
}
div.container{
  padding: 0;
}
.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child{
  flex-direction: initial;
}

/* .menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
} */

/* .menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
} */
.menu-bar {
  font-weight: 600;
}

.menu-bar .nav-link {
  margin-right: 45px;
  color: #292D32;
  font-size: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 53px;
}
.menu-bar{
  padding-left: 0;
}
.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.right-container img {
  border-radius: 50%;
}
.right-container>img:nth-child(1){
  margin-left: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  top: 120px;
  right: 38px;
  min-width: 410px;
  height: 395px;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 11111111111;
}
.dropdown-content.dropdown-content-active{
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-item>img{
  margin-left: 5px;
}
.dropdown-content-item{
  color: #000;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 10px 0 10px 30px;
}
.hr-drop{
  width: 100%;
  height: 1px;
  background-color: #F2F2F2;
}
.icon-item{
  margin-left: 15px;
}
#hamburger {
  display: none;
  margin-left: 15px;
  width: 46px;
  height: 46px;
}
.search-icon{
  margin-right: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.section_one{
  background-color: #F2F2F2;
  width: 1920px;
  margin: 0 auto;
  position: relative;
  height: 684px;
  /* padding-top: 255px; */
  /* border: 1px solid blue; */
}
.left-content{
  width: 1411px;
  display: flex;
}
.dell{
  width: fit-content;
  padding-left: 260px;
  padding-top: 97px;
  z-index: 10;
  content: url('./accepts/icons/Dell.svg');
}
.union{
  transform: rotate(90deg);
  margin-right: 17px;
}
.catalog{
  display: flex;
  transform: rotate(-90deg);
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 415px;
  left: 195px;
}
.scroll{ 
  color: #838383;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.products{
  z-index: 100000;
  padding-left: 390px;
  margin-top: -40px;
}
.new{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 133.687%;
  z-index: 100000;
}
.best-product{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.more{
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.arrow{
  margin-top: 22px;
}
.circle{
  width: 55px;
  height: 55px;
  background-color: #33A9FF;
  border-radius: 50%;
  text-align: center;
  margin-right: 12px;
}
.more-text{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.newPhoto{
  display: none;
}
.newPhoto.active{
  display: block;
  margin-top: 74px;
  margin-left: -235px;
  /* border: 1px solid red; */
}
.img{
  position: relative;
}
.slider-btns{
  display: flex;
  position: absolute;
  bottom: 117px;
  right: -22px;
}
.slider-btn{
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #D0D0D0;
  margin-left: 6px;
  cursor: pointer;
}
.slider-btn.active{
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: #292D32;
  margin-left: 6px;
  cursor: pointer;
}
.section_one-content{
  display: flex;
}
.right-content{
  justify-content: right;
  text-align: right;
  position: relative;
}
.long-arrow{
  display: block;
  margin-left: 40px;
  margin-top: 15px;
}
.benefit{
  position: absolute;
  left: 40px;
  top: 321px;
  color: #292D32;
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}
.product-catalog-title{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 29px;
}
.product-catalog-text{
  color:  #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.circle-catalog{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 12px;
}
.circle-btn{
  display: flex;
  align-items: center;
  margin-top: 46px;
}
.section_two{
  z-index: 100000;
  /* border: 1px solid red; */
  height: 782px;
  margin-top: 154px;
  margin-bottom: 180px;
  /* padding-top: 434px; */
}
.section_two-content{
  width: 1400px;
  margin: 0 auto 0;
  /* margin-top: 300px; */
}
.grid-product{
  position: relative;
  width: 440px;
  height: 371px;
  border-radius: 20px;
  background: #F9F9F9;
}
.grid-products>.grid-product:nth-child(2){
  text-align: right;
}
.grid-products>.grid-product:nth-child(3){
  /* margin-right: ; */
  text-align: right;
  padding-right: 58px;
  width: 382px;
}
.grid-products>.grid-product:nth-child(4){
  text-align: center;
  padding-top: 81px;
  height: 290px;
}
.grid-products>.grid-product:nth-child(5){
  text-align: center;
  padding-top: 59px;
  height: 312px;
}
.grid-products>.grid-product:nth-child(6){
  text-align: right;
  padding-top: 38px;
  padding-right: 30px;
  width: 410px;
  height: 332px;
}
.grid-product-description{
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.goods{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;
  margin-top: 29px;
  text-align: left;
}
.type{
  color: #292D32;
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 5px;
  text-align: left;
}
.grid-products{
  display: grid;
  grid-template-columns: repeat(3, 440px);
  gap: 40px;
  margin-bottom: 180px;
}
.grid-product img.grid-product-img:nth-child(1){
  text-align: left;
}
.section_three-content{
  background-color: #F2F2F2;
  width: 1920px;
  margin: 0 auto;
  position: relative;
}
.up{
  display: flex;
}
.section_three-img{
  margin-top: 87px;
  margin-left: 180px;
}
.best_quality{
  position: absolute;
  top: 152px;
  left: 4px;
  z-index: 120;
  content: url("./accepts/icons/best_quality.svg");
}
.advantages{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-top: 182px;
  margin-left: -75px;
}
.optimization{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-left: -75px;
  margin-top: 37px;
  width: 518px;
}
.contain-bid{
  display: flex;
  align-items: center;
  margin-left: -75px;
  margin-top: 41px;
}
.bid{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.down{
  width: 1400px;
  margin: 48px auto 0;
  padding-bottom: 46px;
}
.contain-cards{
  display: flex;
}
.black-square{
  width: 70px;
  height: 55px;
  border-radius: 10px;
  background-color: #343A41;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 25px;
}
.card{
  width: 330px;
  height: 229px;
  background-color: #292D32;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  margin-right: 25px;
}
.card-title{
  color: #FFF;
  font-size: 22px;
  font-family: 'Euclid Circular';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.card-description{
  color: #B7B7B7;
  font-size: 15px;
  font-family: 'Euclid Circular';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.vector{
  content: url('./accepts/icons/Vector.svg');
  position: absolute;
  right: 0;
  top: 0;
}
.contain-news{
  width: 1360px;
  margin: 172px auto 0;
  display: flex;
}
.last-news{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.news{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 69px;
}
.news-right{
  margin-left: auto;
}
.news-btn{
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.news-btn-title{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-right: 17px;
}
.description-card{
  width: 415px;
  height: 365px;
  /* border: red 1px solid; */
  position: relative;
  border-radius: 45px 0 45px 0;
  margin-left: 30px;
  margin-bottom: 69px;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.04);
}
.description-card-up{
  position: absolute;
  top: 0;
}
.description-img{
  border-radius: 45px 0 0 0;
  width: 414px;
}
.card-text{
  color: #292D32;
  font-size: 25px;
  font-family:'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  position: absolute;
  top: 24px;
  left: 30px;
}
.see-more{
  color: #292D32;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  bottom: 26px;
  left: 30px;
}
.description-card-down{
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
}
.contain-date{
  position: absolute;
  top: 64px;
  right: -23px;
  background-color: white;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.06);
  width: 50px;
  height: 97px;
  border-radius: 15px;
}
.date-num{
  color: #292D32;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 24px;
}
.date-month{
  color: #838383;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.grid-cards{
  width: 1410px;
  margin: 0 auto;
  row-gap: 40px;
  column-gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 415px);
}
.contain-dark-circle{
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  position: absolute;
  right: 31px;
  top: 0;
}
.dark-circle{
  width: 55px;
  height: 55px;
  background-color: #292D32;
  border-radius: 50%;
  text-align: center;
  margin-right: 12px;
  margin: 8px auto 0;
}
.section_five{
  position: relative;
  background-color: #EEEEEE;
  height: 676px;
  width: 1920px;
  margin: 526px auto 0;
}
.contain-form{
  width: 1350px;
  position: absolute;
  /* top: -340px; */
  top:50%;
  left:50%;
  transform:translate(-50%, -80%);
}
.form{
  display: flex;
}
.form-left{
  width: 630px;
  height: 745px;
  border-radius: 20px 0px 0px 20px;
  background-color: #F9F9F9;
  padding: 100px 0 0 100px;
  border-radius: 20px 0 0 20px;
  position: relative;
  /* border: 1px solid red; */
}
.form-contact{
  color: #292D32;
  font-size: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 18px;
}
.connection{
  color: #838383;
  font-size: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 48px;
}
.contain-info{
  display: flex;
  align-items: flex-start;
  margin-bottom: 47px;
}

.info-icon{
  margin-right: 17px;
}
.info-icon.sms{
  margin-bottom: 60px;
}
.info-title{
  color: #838383;
  font-size: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 133.687%;
  margin-top: 8px;
}
.info-text{
  color: #292D32;
  font-size: 22px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.social-icons{
  position: absolute;
  bottom: 111px;
  left: 103px;
}
.smartphone{
  position: absolute;
  top: 140px;
  right: -85px;
}
.form-right{
  width: 450px;
  height: 643px;
  background-color: #292D32;
  border-radius: 0 20px 20px 0;
  padding: 100px 137px 102px 129px;
  /* border: 1px solid red; */
}
.form-request{
  color: #FFF;
  font-size: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 18px;
}
.form-number{
  color: #FFF;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 65px;
}
.form-input{
  position: relative;
  margin-bottom: 52px;
}
.input-title{
  color: #F2F2F2;
  font-size: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;
  background-color: #292D32;
  position: absolute;
  top: -9px;
  left: 22px;
}
.input-text{
  min-width: 414px;
  height: 45px;
  border: 1px solid #F2F2F280;
  border-radius: 15px;
  background-color: #292D32;
  text-align: start;
  color: white;
  font-size: 18px;
  padding: 0 10px;
}
.input-text.comment{
  height: 145px;
  min-width: 394px;
  resize: none;
  text-align: start;
  padding: 20px;
}
.from-btn{
  display: flex;
  align-items: center;
}
.buy{
  color: #FFF;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contacts{
  content: url('./accepts/icons/our\ contacts.png');
  padding-top: 184px;
}
.contain-footer{
  /* margin-top: 60px; */
  width: 1920px;
  margin: 60px auto;
}
.footer-up{
  display: flex;
}
.footer-logo{
  width: 112px;
  height: 112px;
  margin-left: 260px;
  margin-right: 190px;
}
.footer-section{
  margin-right: 180px;
  margin-bottom: 60px;
}
.footer-title{
  color: #292D32;
  text-align: left;
  font-size: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.footer-item{
  color: #292D32;
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}
.hr{
  width: 1400px;
  height: 1px;
  background-color: #E5E5E5;
  margin: 0 auto;
}
.footer-down{
  display: flex;
  margin-top: 40px;
  margin-left: 260px;
}
.footer-bottom-item{
  margin-right: 153px;
}
.footer-bottom-title{
  color: #838383;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 133.687%;
  margin-bottom: 11px;
}
.footer-bottom-text{
  color: #292D32;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  #hamburger {
    display: block;
  }
  .container {
    /* padding: 1.2rem; */
    margin: 0 auto;
    padding: 0;
    height: 90px;
    width: 340px;
  }
  .logo{
    width: 60px;
    height: 60px;
  }
  .search-icon{
    margin-left: auto;
  }
  .menu {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    min-height: 390px;
    width: 100vw;
    z-index: 1111111111111111;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    color: red;
  }
  .right-container>img:nth-child(2){
    display: none;
  }
  .right-container>img:nth-child(3){
    display: none;
  }
  .menu.show{
    display: block;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 45px;
    padding: 56px 268px 64px 40px;
  }
  .menu-bar li a.nav-link{
    margin: 0;
  }
  .menu-bar .nav-link {
    display: flex;
    color: #292D32;
    font-size: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
  }

  .menu-bar li:first-child{
    min-width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .section_one{
    width: 375px;
    display: block;
    /* height: 719px; */
    height: fit-content;
    margin-top: 20px;
  }
  .section_one-content{
    display: block;
  }
  .left-content{
    display: block;
    width: 375px;
    margin: 0 auto;
  }
  .catalog{
    display: none;
  }
  .dell{
    width: 290px;
    padding-left: 32px;
    padding-top: 18px;
    margin-bottom: 28px;
  }
  .products{
    z-index: 100000;
    padding-left: 15px;
    /* margin-top: -40px; */
  }
  .new{
    color: #838383;
    font-size: 15px;
  }
  .img{
    display: block;
    position: relative;
    width: 375px;
  }
  .best-product{
    font-size: 30px;
  }
  .more{
    margin-top: 28px;
  }
  .products{
    display: block;
  }
  .newPhoto.active{
    width: 327px;
    margin-top: 10px;
    margin-left: 23px;
  }
  .long-arrow{
    position: absolute;
    top: -50px;
    right: 15px;
    width: 64px;
  }
  .slider-btns{
    position: absolute;
    bottom: 22px;
    right: 108px;
    /* border: 1px solid red; */
  }
  .slider-btn{
    width: 5px;
    height: 5px;
  }
  .slider-btn-active{
    width: 6px;
    height: 6px;
  }
  .right-content{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 375px;
    background-color: #F9F9F9;
    min-height: 196px;
  }
  .right-img{
    content: url('./accepts/icons/litle.png');
    position: absolute;
    right: 6px;
    top: 15px;
  }
  .benefit{
    position:absolute;
    left: 15px;
    top: 59px;
    font-size: 20px;
  }
  .section_two-content{
    width: 375px;
  }
  .grid-products{
    grid-template-columns: repeat(1, 345px);
    gap: 15px;
    justify-content: center;
  }
  .grid-product{
    max-width: 345px;
    margin: 0 auto;
  }
  .type{
    font-size: 20px;
  }
  .logo{
    margin-right: 15px;
  }
  .goods{
    font-size: 15px;
    margin-top: 0;
  }
  .grid-products>.grid-product:nth-child(2){
    height: 300px;
    margin-top: 40px;
  }
  .grid-products>.grid-product:nth-child(3), .grid-products>.grid-product:nth-child(4), .grid-products>.grid-product:nth-child(5), .grid-products>.grid-product:nth-child(6){
    width: 345px;
    padding: 0;
    height: 290px;
  }
  .grid-product:nth-child(2) > img{
    margin-top: 22px;
    margin-right: 15px;
    width: 302px;
    height: 178px;
  }
  .grid-product:nth-child(3) > img{
    width: 210px;
    height: 193px;
    margin-top: 10px;
    margin-right: 36px;
  }
  .grid-product:nth-child(4) > img{
    margin: 60px auto 0;
    width: 264.239px;
    height: 107.42px;
  }
  .grid-product:nth-child(5) > img{
    width: 226.602px;
    height: 124.67px;
    margin: 46px auto 0;
  }
  .grid-product:nth-child(6) > img{
    width: 253.261px;
    height: 167.011px;
    margin-right: 23px;
    margin-top: 29px;
  }
  .section_two{
    /* border: 1px solid red; */
    height: 2050px;
    margin-bottom: 0;
  }
  .section_three-content{
    width: 375px;
  }
  .up{
    display: flex;
    flex-direction: column-reverse;
  }
  .advantages{
    margin-left: 0;  
    font-size: 30px;
    margin-top: 101px;
  }
  .optimization{
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    width: 336px;
  }
  .section_three-right{
    margin-left: 15px;
  }
  .best_quality{
    position: absolute;
    top: 373px;
    left: 14px;
    content: url("./accepts/icons/best_quality.svg");
    width: 335px;
  }
  .contain-bid{
    margin: 0;
    margin-top: 30px;
    margin-bottom: -70px;
    /* margin-left: 15px; */
  }
  .section_three-img{
    width: 345px;
    margin: 0;
    margin-left: 76px;
  }
  .down{
    width: 375px;
    padding-bottom: 115px;
  }
  .contain-cards{
    flex-direction: column;
    width: 345px;
    margin: 0 auto;
  }
  .card{
    width: 315px;
    margin: 0;
    padding: 15px;
    margin-bottom: 20px;
    height: auto;
  }
  .black-square{
    width: 50px;
    height: 40px;
    padding-top: 10px;
  }
  .vector{
    width: 121px;
  }
  .card-icon{
    width: 30.044px;
    height: 30.265px;
  }
  .card-title{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card-description{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .contain-news{
    width: 375px;
  }
  .grid-cards{
    width: 375px;
    margin: 0 auto 120px;
    display: grid;
    grid-template-columns: repeat(1, 324px);
  }
  .description-card-down{
    width: 324px;
    height: 143px;
    left: 0;
  }
  .description-card{
    width: 324px;
    height: 294px;
    overflow: hidden;
    margin-bottom: 0;
  }
  
  .description-img-down{
    width: 324px;
    content: url('./accepts/icons/sitle_down.svg');
  }
  .contain-dark-circle{
    width: 43.183px;
    height: 43.183px;
    padding: 8px;
    right: 27px;
    top: -1px;
  }
  .dark-circle{
    width: 45px;
    height: 45px;
    background-color: #292D32;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
    margin: 0 auto 0;
  }
  .arrow.dark{
    margin-top: 17px;
  }
  .card-text{
    font-size: 23px;
    top: 20px;
  }
  .see-more{
    bottom: 20px;
    font-size: 14px;
  }
  .contain-news{
    display: block;
    padding-left: 15px;  
  }
  .last-news{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .news{
    font-size: 15px;
    margin-bottom: 35px;
  }
  .news-btn{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 195px;
    margin-bottom: 46px;
  }
  .section_five{
    position: relative;
    width: 375px;
    height: 1241px;
    margin: 0 auto 0;
  }
  .contain-form{
    width: 375px;
    top: 0px;
    /* top:50%; */
    left:0;
    transform:translate(0%, 0%);
  }
  .form{
    display: block;
  }
  .form-left{
    width: 345px;
    border-radius: 0;
    padding: 100px 0 0 30px;
    height: 513px;
    position: relative;
    /* border: 1px solid red; */
  }
  .form-contact{
    display: none;
  }
  .contacts{
    width: 375px;
  }
  .smartphone{
    position: absolute;
    width: 140px;
    height: 290px;
    right: 51px; 
    top: 370px;
    transform: rotate(11.189deg);
  }
  .connection{
    font-size: 15px;
    margin-bottom: 40px;
  }
  .info-icon{
    width: 19px;
    height: 19px;
    margin-right: 8px;
  }
  .contain-info{
    margin-bottom: 30px;
  }
  .info-icon.sms{
    margin-bottom: 58px;
  }
  .info-title{
    font-size: 15px;
    margin-top: 0;
  }
  .info-text{
    font-size: 18px;
  }
  .social-icons{
    bottom: 59px;
    left: 30px;
    width: 65px;
  }
  .form-right{
    border-radius: 0;
    width: 319px;
    height: 508px;
    padding: 60px 26px 60px 30px;
  }
  .form-request{
    font-size: 30px;
  }
  .form-number{
    font-size: 15px;
  }
  .input-text{
    min-width: 300px;
    padding: 0 10px;
  }
  .input-text.comment{
    min-width: 300px;
    height: 70px;
    padding: 5px 10px;
  }
  .form-input{
    margin-bottom: 40px;
    width: 315px;
    justify-content: center;
  }
  .from-btn{
    margin-bottom: 60px;
  }
  .contain-footer{
    width: 375px;
    margin: 0 auto;
  }
  .footer-logo{
    position: absolute;
    display: none;
  }
  .footer-up{
    width: 345px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    padding: 130px 37px 0px 16px;
  }
  .footer-section{
    margin-right: 0px;
    margin-bottom: 28px;
    /* border: 1px solid black; */
  }
  .footer-title{
    font-size: 18px;
  }
  .footer-item{
    font-size: 15px;
  }
  .third{
    order: -1;
  }
  .first{
    order: 3;
  }
  .footer-up>.footer-section:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    height: 150px;

    grid-column: span 2;
  }
  .footer-up>.footer-section:nth-child(2)>div{
    /* border: 1px solid green; */
    margin: 0;
  }
  .footer-up>.footer-section:nth-child(2)>div:nth-child(6){
    /* color: red; */
    order: 5;
    width: 120px;
  }
  .footer-up>.footer-section:nth-child(2)>div:nth-child(4){
    width: 120px;
  }
  .footer-up>.footer-section:nth-child(2)>div:nth-child(3){
    width: 190px;
  }
  /* .footer-up>.footer-section:nth-child(2)>div:nth-child(4){

  } */
  .footer-up>.footer-section:nth-child(2)>div:nth-child(5){
    order: 6;
    /* color: blue; */
  }
  .hr{
    width: 345px;
    margin: 0 auto 31px;
  }
  .footer-down{
    width: 335px;
    margin: 0;
    padding: 0 22px 30px 14px;
    flex-direction: column;
  }
  .footer-bottom-item{
    margin: 0;
  }
  .footer-bottom-text{
    font-size: 14.5px;
  }
  .footer{
    width: 375px;
    margin: 0 auto;
    background-color: #F2F2F2;
  }
}