@font-face {
  font-family: "Euclid Circular";
  src: url("/accepts/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Light.ttf");
}



li{
  list-style-type: none;
}
body{
  overflow-x: hidden;
}


.container{
  width: 1920px;
  margin: 0 auto;
}
.logo-container{
  margin: 27px 0 26px 260px;
}
.nav{
  display: flex;
  background-color: #FFFFFF;
  margin: 0;
}
.left{
  display: flex;
}
.navigation{
  display: flex;
  margin: 0;
  margin: 53px 0 52px 60px;
  padding: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.navigation-item{
  margin-right: 45px;
  width: fit-content;
}
.search_icon-container{
  width: fit-content;
  margin-left: 5px;
}
.right{
  width: fit-content;
  margin-left: auto;
  margin-top: 37px;
  /* margin-bottom: 37px; */
}
.nav-icons{
  display: flex;
  margin: 0;
  margin-right: 260px;
  padding: 0;
}
.nav-icon-item{
  width: 49px;
  height: 49px;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-right: 30px;
}

.section_one{
  background-color: #F2F2F2;
  width: 1920px;
  margin: 0 auto;
  position: relative;
  height: 683px;
}
.left-content{
  width: 1411px;
  display: flex;
}
.dell{
  width: fit-content;
  padding-left: 260px;
  padding-top: 97px;
  z-index: 10;
  content: url('./accepts/icons/Dell.svg');
}
.union{
  transform: rotate(90deg);
  margin-right: 17px;
}
.catalog{
  display: flex;
  transform: rotate(-90deg);
  width: fit-content;
  align-items: center;
  position: absolute;
  top: 415px;
  left: 195px;
}
.scroll{ 
  color: #838383;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.products{
  z-index: 100000;
  padding-left: 390px;
  margin-top: -40px;
}
.new{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 133.687%;
  z-index: 100000;
}
.best-product{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.more{
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.arrow{
  margin-top: 22px;
}
.circle{
  width: 55px;
  height: 55px;
  background-color: #33A9FF;
  border-radius: 50%;
  text-align: center;
  margin-right: 12px;
}
.more-text{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.newPhoto{
  margin-top: 74px;
  margin-left: -235px;
  /* border: 1px solid red; */
}
.img{
  position: relative;
}
.slider-btns{
  display: flex;
  position: absolute;
  bottom: 117px;
  right: -22px;
}
.slider-btn{
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #D0D0D0;
  margin-left: 6px;
  cursor: pointer;
}
.slider-btn-active{
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: #292D32;
  margin-left: 6px;
  cursor: pointer;
}
.section_one-content{
  display: flex;
}
.right-content{
  justify-content: right;
  text-align: right;
  position: relative;
}
.long-arrow{
  display: block;
  margin-left: 40px;
  margin-top: 15px;
}
.benefit{
  position: absolute;
  left: 40px;
  top: 321px;
  color: #292D32;
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}
.product-catalog-title{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 29px;
}
.product-catalog-text{
  color:  #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.circle-catalog{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 12px;
}
.circle-btn{
  display: flex;
  align-items: center;
  margin-top: 46px;
}
.section_two-content{
  width: 1400px;
  margin: 164px auto 0;
}
.grid-product{
  position: relative;
  width: 440px;
  height: 371px;
  border-radius: 20px;
  background: #F9F9F9;
}
.grid-products>.grid-product:nth-child(2){
  text-align: right;
}
.grid-products>.grid-product:nth-child(3){
  /* margin-right: ; */
  text-align: right;
  padding-right: 58px;
  width: 382px;
}
.grid-products>.grid-product:nth-child(4){
  text-align: center;
  padding-top: 81px;
  height: 290px;
}
.grid-products>.grid-product:nth-child(5){
  text-align: center;
  padding-top: 59px;
  height: 312px;
}
.grid-products>.grid-product:nth-child(6){
  text-align: right;
  padding-top: 38px;
  padding-right: 30px;
  width: 410px;
  height: 332px;
}
.grid-product-description{
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.goods{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;
  margin-top: 29px;
  text-align: left;
}
.type{
  color: #292D32;
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 5px;
  text-align: left;
}
.grid-products{
  display: grid;
  grid-template-columns: repeat(3, 440px);
  gap: 40px;
  margin-bottom: 180px;
}
.grid-product img.grid-product-img:nth-child(1){
  text-align: left;
}
.section_three-content{
  background-color: #F2F2F2;
  width: 1920px;
  margin: 0 auto;
  position: relative;
}
.up{
  display: flex;
}
.section_three-img{
  margin-top: 87px;
  margin-left: 180px;
}
.best_quality{
  position: absolute;
  top: 152px;
  left: 4px;
  z-index: 120;
  content: url("./accepts/icons/best_quality.svg");
}
.advantages{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-top: 182px;
  margin-left: -75px;
}
.optimization{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-left: -75px;
  margin-top: 37px;
}
.contain-bid{
  display: flex;
  align-items: center;
  margin-left: -75px;
  margin-top: 41px;
}
.bid{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.down{
  width: 1400px;
  margin: 48px auto 0;
  padding-bottom: 46px;
}
.contain-cards{
  display: flex;
}
.black-square{
  width: 70px;
  height: 55px;
  border-radius: 10px;
  background-color: #343A41;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 25px;
}
.card{
  width: 330px;
  height: 229px;
  background-color: #292D32;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  margin-right: 25px;
}
.card-title{
  color: #FFF;
  font-size: 22px;
  font-family: 'Euclid Circular';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.card-description{
  color: #B7B7B7;
  font-size: 15px;
  font-family: 'Euclid Circular';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.vector{
  content: url('./accepts/icons/Vector.svg');
  position: absolute;
  right: 0;
  top: 0;
}
.contain-news{
  width: 1360px;
  margin: 172px auto 0;
  display: flex;
}
.last-news{
  color: #292D32;
  font-size: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.news{
  color: #838383;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 69px;
}
.news-right{
  margin-left: auto;
}
.news-btn{
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.news-btn-title{
  color: #292D32;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-right: 17px;
}
.description-card{
  width: 415px;
  height: 365px;
  /* border: red 1px solid; */
  position: relative;
  border-radius: 45px 0 45px 0;
  margin-left: 30px;
  margin-bottom: 69px;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.04);
}
.description-card-up{
  position: absolute;
  top: 0;
}
.description-img{
  border-radius: 45px 0 0 0;
  width: 414px;
}
.card-text{
  color: #292D32;
  font-size: 25px;
  font-family:'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  position: absolute;
  top: 24px;
  left: 30px;
}
.see-more{
  color: #292D32;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  bottom: 26px;
  left: 30px;
}
.description-card-down{
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
}
.contain-date{
  position: absolute;
  top: 64px;
  right: -23px;
  background-color: white;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.06);
  width: 50px;
  height: 97px;
  border-radius: 15px;
}
.date-num{
  color: #292D32;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 24px;
}
.date-month{
  color: #838383;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.grid-cards{
  width: 1410px;
  margin: 0 auto;
  row-gap: 40px;
  column-gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 415px);
}
.contain-dark-circle{
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  position: absolute;
  right: 31px;
  top: 0;
}
.dark-circle{
  width: 55px;
  height: 55px;
  background-color: #292D32;
  border-radius: 50%;
  text-align: center;
  margin-right: 12px;
  margin: 8px auto 0;
}
.section_five{
  position: relative;
  background-color: #EEEEEE;
  height: 676px;
  width: 1920px;
  margin: 526px auto 0;
}
.contain-form{
  width: 1350px;
  position: absolute;
  /* top: -340px; */
  top:50%;
  left:50%;
  transform:translate(-50%, -80%);
}
.form{
  display: flex;
}
.form-left{
  width: 630px;
  height: 745px;
  border-radius: 20px 0px 0px 20px;
  background-color: #F9F9F9;
  padding: 100px 0 0 100px;
  border-radius: 20px 0 0 20px;
  position: relative;
  /* border: 1px solid red; */
}
.form-contact{
  color: #292D32;
  font-size: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 18px;
}
.connection{
  color: #838383;
  font-size: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 48px;
}
.contain-info{
  display: flex;
  align-items: flex-start;
  margin-bottom: 47px;
}

.info-icon{
  margin-right: 17px;
}
.info-icon.sms{
  margin-bottom: 60px;
}
.info-title{
  color: #838383;
  font-size: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 133.687%;
  margin-top: 8px;
}
.info-text{
  color: #292D32;
  font-size: 22px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.social-icons{
  position: absolute;
  bottom: 111px;
  left: 103px;
}
.smartphone{
  position: absolute;
  top: 140px;
  right: -85px;
}
.form-right{
  width: 450px;
  height: 643px;
  background-color: #292D32;
  border-radius: 0 20px 20px 0;
  padding: 100px 137px 102px 129px;
  /* border: 1px solid red; */
}
.form-request{
  color: #FFF;
  font-size: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 18px;
}
.form-number{
  color: #FFF;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 65px;
}
.form-input{
  position: relative;
  margin-bottom: 52px;
}
.input-title{
  color: #F2F2F2;
  font-size: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;
  background-color: #292D32;
  position: absolute;
  top: -9px;
  left: 22px;
}
.input-text{
  min-width: 414px;
  height: 45px;
  border: 1px solid #F2F2F280;
  border-radius: 15px;
  background-color: #292D32;
  text-align: start;
  color: white;
  font-size: 18px;
  padding: 0 10px;
}
.input-text.comment{
  height: 145px;
  min-width: 394px;
  resize: none;
  text-align: start;
  padding: 20px;
}
.from-btn{
  display: flex;
  align-items: center;
}
.buy{
  color: #FFF;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contacts{
  content: url('./accepts/icons/our\ contacts.png');
  padding-top: 184px;
}